<!-- <div class="row" style="border-radius:15px; margin-top:5%; ">


    <div class="col-sm-7 col-md-6 col-lg-4 mx-auto" style="border-radius:15px; ">

        <div class="card card-signin my-5" style=" background-color: #26323F; opacity: 0.7;">
            <div class="card-body" style="padding:40px;">
                <div style="width:100%; text-align:center; align-content: center;">
                    <img src="assets/img/GoalShaper.png" style="width:200px; margin: 0 auto; padding: 0 auto; " />
                </div>
                <br/>

                <h4 class="card-title text-center" style="color: #ffffff;font-size: 20px;">Password Assistance</h4>

                <p class="card-title text-center" style=" outline: none;background: transparent;border: none;color: #ffffff;font-size: 14px;">Enter the emai address associated with your GoalsShaper Account</p>



                <form #forgotForm="ngForm" (ngSubmit)="onReset()">

                    <div class="form-group">
                        <div class="input-container" style="border: 1px solid #fff;border-radius: 20px;">
                            <label class="fa fa-user icon" style="color:#ffffff; margin-top: 10px; margin-left: 15px;"></label>
                            <input type="text" 
                            [(ngModel)]="resetPwd.username" 
                            #username="ngModel" 
                            class="form-control" name="username"
                            placeholder="Email" class="form-control" style=" outline: none;background: transparent;border: none;color: #ffffff;font-size: 14px;"  />
                        </div>
                    </div>
                    <div *ngIf="forgotForm.controls['username'].invalid && (forgotForm.controls['username'].dirty || forgotForm.controls['username'].touched)" class="alert alert-danger">
                        <div *ngIf="forgotForm.controls['username'].errors.required">
                            Username required
                        </div>
                    </div>

                    <br/>
                   

                    <div class="form-group">
                        <button  type="submit"  style="color: #133593;border-radius: 20px; background-color: #ffffff;font-size: 11px;border-color: #ffffff;letter-spacing: 4px; height:40px;" class="btn btn-primary btn-block text-uppercase">Continue</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->

<div class="row" style="background-image: url('assets/img/bg-login.jpg');">
    <div class="col-12 text-center" style="padding: 70px;">
        <img src="assets/img/GoalShaper.png" alt="">
    </div>
</div>
<div class="row">
    <div class="col-12 text-center" style="padding: 20px;">
        <span style="color: #363648; font-size: 26px;">Request a new password</span>
    </div>
</div>
<div class="row">
    <div class="col-4 mx-auto">
        <form #forgotForm="ngForm" (ngSubmit)="onReset()">
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <label for="email" style="color: #363648; font-size: 18px;">Email</label>
                        <input type="email" class="form-control" id="username" [(ngModel)]="resetPwd.username" #username="ngModel" name="username" placeholder="" required>
                    </div>
                    <div *ngIf="forgotForm.controls['username'].invalid && (forgotForm.controls['username'].dirty || forgotForm.controls['username'].touched)" class="alert alert-danger">
                        <div *ngIf="forgotForm.controls['username'].errors.required">
                            Username required
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12" style="margin-bottom: 10px;">
                    <span style="color: #363648; font-size: 14px;">Get a new code</span>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="email" style="color: #363648; font-size: 18px;">Enter code above</label>
                        <input type="email" class="form-control" id="captcha code" name="username" placeholder="">
                    </div>
                </div> -->
                <div class="col-12">
                    <div class="form-group text-center">
                        <button type="submit" [disabled]="forgotForm.pristine || forgotForm.invalid" class="btn btn-add">Submit</button>
                        <!-- <button *ngIf="!btnSubmitStatus" type="submit" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-add" disabled>Please Wait <i class="fa fa-spinner fa-spin"></i></button> -->
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" style="background-color: #e6e7e8; padding: 40px; margin-top: 5%;">
    <div class="col-7 mx-auto">
        <div class="row">
            <div class="col-4 text-center">
                <span style="color: #363648; font-size: 18px;">Terms and conditions</span>
            </div>
            <div class="col-4 text-center">
                <span style="color: #363648; font-size: 18px;">Privacy policy</span>
            </div>
            <div class="col-4 text-center">
                <span style="color: #363648; font-size: 18px;">Use of cookies</span>
            </div>
        </div>
    </div>
    <div class="col-8 mx-auto text-center" style="margin-top: 30px;">
        <span style="color: #464644; font-size: 14px;">All content appearing on this website is proprietary, copyrighted and owned or licensed by Coaching Principles Ltd. Any unauthorized use of trademarks or content from this website is strictly prohibited. All Rights Reserved.</span>
    </div>
</div>