.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
    border-radius: 10px !important;
}

.input-container {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
}

::placeholder {
    color: lightgray;
    outline: none;
    background: transparent !important;
    border: none;
}

.form-control:focus {
    border-color: transparent !important;
    outline: none;
    background-color: transparent !important;
}

.form-control {
    /* border: none !important; */
    outline: none !important;
}

.btn-add {
    color: #fff;
    background-color: #9ac81b;
    border-color: #9ac81b;
    box-shadow: 5px 5px 15px -4px #688510;
    width: 231px;
    height: 72px;
    border-radius: 36px;
}

.btn {
    font-size: 20px !important;
}