.input-group {
    border-collapse: separate;
}

.border-primary{

    color: #52A6E5 !important;
}

.green-border-focus .form-control:focus {
    border: 1px solid #8bc34a;
    box-shadow: 0 0 0 0.2rem rgba(139, 195, 74, .25);
}


nav > .nav.nav-tabs{

    border: none;
    /* border-radius: 15px; */
      color:#fff;
      background:#F3F3F3;
      border-radius:0;
  
  }
  nav > div a.nav-item.nav-link,
  nav > div a.nav-item.nav-link.active
  {
      border: none;
      /* border-top-right-radius: 5px;
      border-bottom-right-radius: 5px; */
      padding: 10px 15px;
      color:black;
      background:#F3F3F3;
      border-radius:0;
  }
  
  nav > div a.nav-item.nav-link.active:after
   {
    content: "";
    position: relative;
    bottom: -45px;
    left: -10%;
    border: 15px solid transparent;
    border-top-color: #0072BB ;
  }
  .tab-content{
    background: #fdfdfd;
      line-height: 25px;
      /* border: 1px solid #ddd; */
      border-top:5px solid #0072BB;
      /* border-bottom:5px solid #e74c3c; */
      padding:30px 25px;
  }
  
  nav > div a.nav-item.nav-link:hover,
  nav > div a.nav-item.nav-link:focus
  {
    border: none;
      background: #0072BB;
      color:#fff;
      border-radius:0;
      transition:background 0.20s linear;
  }




  