.table-header{
    line-height: 1.4;
    color: #ffffff;
    text-align: center;
}

.table-body{
    line-height: 3;
    text-align: center;
}

.cardHeaderSettings {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: small;


}

.cardBodySettings {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-size: small;
}

.cardBodyBackColor{
    background-color: #3499E4;
    padding:0px !important;
    font-size: small;
}

hr {
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.truncate {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

/*
  .img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 50% !important;
    height: auto;
} */

.enterpriseLogo {
    width: 120px;
    height: 120px;
    overflow: hidden;
    /* border: 1px solid black; */
  }

  .enterpriseLogo img {
      width: 100%;
      min-height: 100%;
      object-fit: contain;
  }