<div>
  <!-- <div class="row">
    <div class="col-3" style="padding:28px; padding-left: 3%;">
      <div class="row">
        <div style="width: 10px; height: 10px; line-height: 2.5; background-color: #1089CE;"></div>
        <span style="font-weight: bold; color:#1089CE; padding-left: 5px; line-height: 0.8;">
          OBJECTIVES
        </span>
        <span *ngIf="displayStyle == 'grid'"
          style="font-weight: bold; color:#1089CE; padding-left: 28px; line-height: 0.8;" data-toggle="tooltip"
          data-placement="top" title="List View" (click)="setStyle('list')">
          <a class="btnr as"><i class="fa fa-bars"></i> &nbsp;&nbsp;
          </a>
        </span>

        <span *ngIf="displayStyle == 'list'"
          style="font-weight: bold; color:#1089CE; padding-left: 28px; line-height: 0.8;" data-toggle="tooltip"
          data-placement="top" title="List View" (click)="setStyle('list')">
          <a class="btnr as"><i class="fa fa-bars" style="color:#1089CE;"></i> &nbsp;&nbsp;
          </a>
        </span>
        <span *ngIf="displayStyle == 'list'"
          style="font-weight: bold; color:#1089CE; padding-left: 28px; line-height: 0.8;" data-toggle="tooltip"
          data-placement="top" title="Grid View" (click)="setStyle('grid')">
          <a class="btnr as"><i class="fa fa-th-large"></i>
          </a>
        </span>
        <span *ngIf="displayStyle == 'grid'"
          style="font-weight: bold; color:#1089CE; padding-left: 28px; line-height: 0.8;" data-toggle="tooltip"
          data-placement="top" title="Grid View" (click)="setStyle('grid')">
          <a class="btnr as"><i class="fa fa-th-large" style="color:#1089CE;"></i>
          </a>
        </span>
      </div>
    </div>
    <div class="col-9" style="padding-top:15px;">
      <table style="width:100%;">
        <tr>
          <td style="align-content: right; text-align: right; float: right;">
            <table>
              <tr>
                <td *ngIf="displayStyle == 'grid'">
                  <div class="form-group has-sort" style="padding-right:10px;">
                    <select (change)="sortBykeyValue()" [(ngModel)]="SortBy" class="form-control">
                      <option value="objective,asc">Sort By - Objective ⬆</option>
                      <option value="objective,desc">Sort By - Objective ⬇</option>
                      <option value="target_date,asc">Sort By - Target Date ⬆</option>
                      <option value="target_date,desc">Sort By - Target Date ⬇</option>
                      <option value="completed_date,asc">Sort By - Completed Date ⬆</option>
                      <option value="completed_date,desc">Sort By - Completed Date ⬇</option>
                    </select>
                  </div>
                </td>
                <td>
                  <div class="form-group has-search" style="padding-right:10px;">
                    <select [(ngModel)]="filterBy" (ngModelChange)="changeSearch();" class="form-control objective_level">
                      <option value="objective">Search By - Objective</option>
                      <option value="objective_level_id">Search By - Objective Level</option>
                      <option value="target_date">Search By - Target Date</option>
                      <option value="completed_date">Search By - Completed Date</option>

                    </select>
                  </div>
                </td>
                <td *ngIf="filterBy !='objective' && filterBy !='objective_level_id'" style="line-height: 3">
                  <div class="input-group">
                    <input placeholder="Select Date" [(ngModel)]="searchText" type="text" placement="bottom-left"
                      (ngModelChange)="changeDate($event)" bsDaterangepicker triggers="keydown click"
                      class="form-control"
                      [bsConfig]="{showWeekNumbers:false,rangeInputFormat : 'DD-MM-YYYY', dateInputFormat: 'DD-MM-YYYY',containerClass: 'theme-dark-blue'}">

                    <div class="input-group-append" style="margin-bottom: 16px;">
                      <button class="btn" style="background-color: #1089CE;" type="button"
                        (click)="ToFilterbasedOnDates()">
                        <i class="fa fa-search" style="color: white;"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td *ngIf=" filterBy == 'objective'" style="line-height: 3">
                  <div class="input-group">
                    <input (keyup)="refreshSearch()" type="text" class="form-control" [(ngModel)]="searchText"
                      #txtSearch placeholder="Search" style="padding:6px 12px 6px 12px; margin-bottom: 16px;">
                    <div class="input-group-append" style="margin-bottom: 16px;">
                      <button class="btn" style="background-color: #1089CE;" type="button"
                        (click)="ToFilterbasedOnObjectives()">
                        <i class="fa fa-search" style="color: white;"></i>
                      </button>
                    </div>
                  </div>
                </td>
                <td>
                  <div *ngIf="filterBy =='objective_level_id'" class="form-group has-search" style="padding-right:10px;">
                    <select (change)="selectObjectiveLevel()" [(ngModel)]="objectiveLevelId" class="form-control"  id="objective_level" (ngModelChange)="ToFilterbasedOnObjectives()">
                      <option value=''>Select Level</option>
                      <option *ngFor="let level of objectiveLevels" value="{{level.level_id}}">{{level.level_name}}</option>

                    </select>
                  </div>
                </td>
                <td style="line-height: 3; ">
                  &nbsp;&nbsp;&nbsp;&nbsp; <button (click)="openObjectivesModal('create','')"
                    class="btn btn-primary pull-right"
                    style="line-height: 1.5; font-size: small; background-color: #1089CE;">
                    <i class="fa fa-plus "></i>
                    &nbsp;Create</button>
                </td>
                <td style="line-height: 3; ">
                  &nbsp;&nbsp;&nbsp;&nbsp; <button (click)="refreshPageData()" class="btn btn-primary pull-right"
                    style="line-height: 1.5; font-size: small;background-color: #1089CE;">
                    <i class="fa fa-refresh "></i>
                    &nbsp;Refresh</button>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <hr> -->
  <div class="row">
    <div class="col-12" style="padding: 20px;">
      <button (click)="openObjectivesModal('create','')" class="btn btn-primary pull-right" style="line-height: 1.5; font-size: small; background-color: #1089CE;">
        <i class="fa fa-plus "></i>&nbsp;Create
      </button>
    </div>
  </div>
</div>

<!-- Body starts from here -->
<!-- Grid view -->
<div *ngIf="displayStyle == 'grid'" style="width:100%; padding-left:1%">
  <div *ngIf="searchText =='' && ToLoadAllObjectives.length == 0" class="alert alert alert-danger fade show"
    style="background-color: #1089CE; border:solid 1px #1089CE; color:#ffffff;">
    <strong>Info!</strong> Objectives Not Yet Created.
    <button type="button" class="close" data-dismiss="alert"></button>
  </div>
  <div colspan="11" *ngIf="searchText !='' && ToLoadAllObjectives.length == 0"
    class="alert alert alert-danger fade show"
    style="background-color: #1089CE; border:solid 1px #1089CE; color:#ffffff;">
    <strong>Info!</strong> No Matches Found.
    <button type="button" class="close" data-dismiss="alert"></button>
  </div>
  <div>
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-12 col-sm-6 col-md-3 grid-margin stretch-card" *ngFor="let data of ToLoadAllObjectives">
            <div class="card" style="border-radius: 15px;">
              <div class="card-header" (click)="openObjectActivity(data)">
                <div class="row">
                  <div class="col-12">
                    <h3 class="card-title">{{data.objective}}</h3>
                  </div>
                  <div class="col-12 text-right">
                    <i class="fa fa-calendar fa-xs"></i> <span
                      style="color:#6c757d; padding-left: 5px; font-size: small;">{{data.target_date | date:'dd-MM-yyyy'}}</span>
                  </div>
                </div>
              </div>
              <div class="card-body" (click)="openObjectActivity(data)">
                <p style="font-size: small;">{{data.description}}.</p>
                <br>
              </div>
              <div class="card-footer">
                <div class="row" style="color: #6c757d!important;">
                  <div class="col-md-6">
                    <!-- Milestones <span class="badge bg-secondary" style="color: white;">{{data}}</span> -->
                    &nbsp;
                  </div>
                  <div class="col-md-6">
                    <fa class="GoalEdit" name="edit" data-toggle="tooltip" data-placement="top" title="Edit"
                      (click)="openObjectivesModal('update',data)">
                    </fa>
                    <fa class="GoalDelete" name="trash" data-toggle="tooltip" data-placement="top" title="Delete"
                      (click)="openDeleteConfirmDialog(data)"></fa>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <table style="width:100%; " *ngIf="ToLoadAllObjectives.length != 0">
      <tr>
        <td algin="right" style="width:100%; align-content: right; text-align: right; ">
          <pagination style="float:right;color:#0B59B0; " [totalItems]="totalItems" [itemsPerPage]="pageSize"
            [(ngModel)]="currentPage" (pageChanged)="pageChanged($event) "></pagination>
        </td>
      </tr>
    </table>


  </div>
</div>


<!-- list View -->
<div *ngIf="displayStyle == 'list'" style="width:100%; padding-left:1%">
  <div class="row" style="padding-left:10px; padding-right: 10px;">
    <table id="goalsactivity" class="table table-striped table-bordered "
      style="width:100%; overflow-x: auto; font-size: small; text-align: center; ">
      <thead>
        <tr>
          <th>#</th>
          <th style="cursor: pointer;" (click)="sortBykey('objective');">Goal Title

            <i class="fa" [ngClass]="{'fa-sort': column != 'objective',
                  'fa-sort-asc': (column == 'objective' && !isDesc),
                  'fa-sort-desc': (column == 'objective' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th style="cursor: pointer;" (click)="sortBykey('target_date')">Target Date
            <i class="fa" [ngClass]="{'fa-sort': column != 'target_date',
                  'fa-sort-asc': (column == 'target_date' && !isDesc),
                  'fa-sort-desc': (column == 'target_date' && isDesc) }" aria-hidden="true"> </i>

          </th>
          <th style="cursor: pointer;" (click)="sortBykey('description')">Description
            <i class="fa" [ngClass]="{'fa-sort': column != 'description',
                'fa-sort-asc': (column == 'description' && !isDesc),
                'fa-sort-desc': (column == 'description' && isDesc) }" aria-hidden="true"> </i>
          </th>
          <th>Edit</th>
          <th>Delete</th>

        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let objective of ToLoadAllObjectives  | searchpipe: searchBy  ; let rowNumber = index">
          <td>{{pageSize * (currentPage - 1) + rowNumber + 1}}</td>
          <td (click)="openObjectActivity(objective)"
            style="cursor: pointer;text-align: center; vertical-align: middle;">
            {{objective.objective ? objective.objective : '-'}}</td>
          <td (click)="openObjectActivity(objective)"
            style="cursor: pointer;text-align: center; vertical-align: middle;">
            {{objective.target_date ? (objective.target_date | date: 'dd-MM-yyyy') : '-'}}</td>
          <td (click)="openObjectActivity(objective)"
            style="cursor: pointer;text-align: center; vertical-align: middle;">
            {{objective.description ? objective.description : '-'}}</td>
          <td style="text-align: center; vertical-align: middle;">
            <fa style="cursor: pointer;" name="edit" (click)="openObjectivesModal('update',objective)"></fa>
          </td>
          <td style="text-align: center; vertical-align: middle;">
            <fa style="cursor: pointer;" name="trash" (click)="openDeleteConfirmDialog(objective)"></fa>
          </td>
        </tr>
        <tr style="color:#0B59B0; font-weight: bold;">
          <td colspan="11" *ngIf="searchText =='' && ToLoadAllObjectives.length == 0"
            class="alert alert alert-danger fade show"
            style="background-color: #1089CE; border:solid 1px #1089CE; color:#ffffff;">
            <strong>Info!</strong> Objectives Not Yet Created.
            <button type="button" class="close" data-dismiss="alert"></button>
          </td>
          <td colspan="11" *ngIf="searchText !='' && ToLoadAllObjectives.length == 0"
            class="alert alert alert-danger fade show"
            style="background-color: #1089CE; border:solid 1px #1089CE; color:#ffffff;">
            <strong>Info!</strong> No Matches Found.
            <button type="button" class="close" data-dismiss="alert"></button>
          </td>


        </tr>
      </tbody>
    </table>
    <table style="width:100%; " *ngIf="ToLoadAllObjectives.length != 0">
      <tr>
        <td algin="right" style="width:100%; align-content: right; text-align: right; ">
          <pagination style="float:right;color:#0B59B0; " [totalItems]="totalItems" [itemsPerPage]="pageSize"
            [(ngModel)]="currentPage" (pageChanged)="pageChanged($event) "></pagination>
        </td>
      </tr>
    </table>

  </div>
</div>