<form  novalidate (ngSubmit)="fp.form.valid && onSubmit()" #fp="ngForm">
    <div class="modal-header " style="background-color: #0072BB;  color: #FFFFFF; border: 1px white;">
       <div style="width:100%; font-size:medium; ">{{strChangePassword}}</div>
       <button style="color:#ffffff;" type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
       <span aria-hidden="true" style="color:#ffffff;">&times;</span>
       </button>
    </div>
    <div class="modal-body " style=" background-color: white; border: 1px white;">
       <div class="form-group">
          <label for="name">{{strCurrentPassword}} <span style="color:red;">*</span></label>
          <input type="password" value="" class="form-control" autocomplete="off" placeholder="Current Password" [(ngModel)]="current_password" name="current_password_" #current_password_="ngModel" [ngClass]="{ 'is-invalid': fp.submitted && current_password_.invalid }" required>
          <div *ngIf="fp.submitted && current_password_.invalid" class="invalid-feedback">
             <div *ngIf="current_password_.errors.required"> {{strCurrentPasswordRequired}}</div>
          </div>
       </div>
       <div class="form-group">
          <label for="name">{{strNewPassword}} <span style="color:red;">*</span></label>
          <input type="password" value="" class="form-control" autocomplete="off" placeholder="New Password" [(ngModel)]="new_password" name="new_password_" #new_password_="ngModel" [ngClass]="{ 'is-invalid': fp.submitted && new_password_.invalid }" required>
          <div *ngIf="fp.submitted && new_password_.invalid" class="invalid-feedback">
             <div *ngIf="new_password_.errors.required"> {{strNewPasswordRequired}}</div>
          </div>
       </div>
       <div class="form-group">
          <label for="name">{{strConfirmPassword}} <span style="color:red;">*</span></label>
          <input type="password" value="" class="form-control" autocomplete="off" placeholder="Confirm Password" [(ngModel)]="confirm_password"  name="confirm_password_" #confirm_password_="ngModel" [ngClass]="{ 'is-invalid': fp.submitted && confirm_password_.invalid }" required>
          <div *ngIf="fp.submitted && confirm_password_.invalid" class="invalid-feedback">
             <div *ngIf="confirm_password_.errors.required"> {{strConfirmPasswordRequired}}</div>
          </div>
       </div>
    </div>
    <div class="modal-footer">
       <button type="submit"  class="btn btn-primary" style="background-color: #0072bb;">
       <i class="fa fa-lock"></i> {{strChangePassword}}</button>
       <button type="button" class="btn btn-danger close-button-color" (click)="bsModalRef.hide()">
       <i class="fa fa-close"></i> {{strBtnClose}}</button>
    </div>
    </form>